<h1>Create Link</h1>
<form action="/links" method="POST">
  <label for="title">Title:</label>
  <input type="text" name="title">
  <label for="url">URL:</label>
  <input type="text" name="url">
  <input type="submit" value="Create Link">
</form>

<a href="/links">Back</a>